<!DOCTYPE html>
<html lang="ja">

<head>
    <title>スコア化アプリ</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div id="header">
        <p>スコアレポート番号：12345</p>
    </div>
    <div id="contents">
        <!-- <iframe id="iframe_id" src= width="600" height="400" frameborder="0" style="border:0"
            allowfullscreen></iframe> -->
        <iframe id="iframe_id" src="/maps/map.html?uuid=%7B%7Buuid%7D%7D" width="600" height="400" frameborder="0"
            style="border:0" allowfullscreen></iframe>

    </div>
    <div id="sidebar">
        <p>人混み減点回数：3</p>
        <p>止まれ減点回数：0</p>
        <p>歩道禁止区域通行減点回数：0</p>
        <p>急ブレーキ減点回数：0</p>
    </div>
</body>

</html>