<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a4cbbeafc0d1ab11a342c0cf95026d37 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@master/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_a4cbbeafc0d1ab11a342c0cf95026d37" ></div>
        
</body>
<script>    
    
            var map_a4cbbeafc0d1ab11a342c0cf95026d37 = L.map(
                "map_a4cbbeafc0d1ab11a342c0cf95026d37",
                {
                    center: [35.02642729499398, 135.78080831152516],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_79faff4ab474868b1368fc305d1dfb5d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a4cbbeafc0d1ab11a342c0cf95026d37);
        
    
            var tile_layer_6c28bd07835f6c52d1f245e02025e014 = L.tileLayer(
                "https://cyberjapandata.gsi.go.jp/xyz/pale/{z}/{x}/{y}.png",
                {"attribution": "\u5730\u7406\u9662\u30bf\u30a4\u30eb", "detectRetina": false, "fmt": "image/png", "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 0.7, "subdomains": "abc", "tms": false}
            ).addTo(map_a4cbbeafc0d1ab11a342c0cf95026d37);
        
    
            var heat_map_371ee34915dfd44181988903c35d402d = L.heatLayer(
                [[35.02524661718333, 135.78002277522626, 5.492628723002392], [35.02508067812041, 135.77872910724508, 4.246977394266478], [35.02502793212717, 135.77872723596158, 5.0032637379499025]],
                {"blur": 7, "gradient": {"0.3": "white", "0.7": "green", "1.0": "darkgreen"}, "maxZoom": 18, "minOpacity": 0.5, "radius": 8}
            ).addTo(map_a4cbbeafc0d1ab11a342c0cf95026d37);
        
</script>